extends layout

block content
  h1= title
  p Welcome to test


    //wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 User Info
            p
                strong Name:
                |  <span id='userInfoName'></span>
                br
                strong Age:
                |  <span id='userInfoAge'></span>
                br
                strong Gender:
                |  <span id='userInfoGender'></span>
                br
                strong Location:
                |  <span id='userInfoLocation'></span>
        // /USER INFO

        //User List
        #userlist
            h2 User List
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                    th Update
                tbody
        // /User List

        // ADD USER
        #addUser
            h2 Add User
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                input#hdid(type='hidden',value='0')
                button#btnAddUser Add User
                button#btnUpdateUses Update
        // /ADD USER
      // /wrapper